/* *{border: 1px solid red;} */
body{
    background-color: #30323f;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 0;
}

#fileContent{
    display: none;
}

h1{
    font-family: sans-serif;
}

#lottie{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    height: calc(100% - 8rem);
    overflow: auto;
}

#lottie button{
    width: 45vw;
    height: 45vh;
    max-width: 45vw;
    max-height: 45vh;
    background-color: #474956;
    border-radius: 4px;
    box-shadow: 0 0 0 2px #ffffff33 inset;
    outline: none;
    border: none;
}

#lottie:has(button.bigger){
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}
#lottie:has(button.bigger) button{
    width: 15vw;
    height: 15vh;
    max-width: 15vw;
    max-height: 15vh;
    display: none;
}

#lottie:has(button.bigger) button.bigger{
    width: 80vw;
    height: 80vh;
    max-width: 80vw;
    max-height: 80vh;
    position: absolute;
    /* margin: 0 calc(15vw + 16px); */
}

#lottie button:focus-visible, #lottie button:focus-within, #lottie button:active{
    box-shadow: 0 0 0 2px #828cffc5 inset;
}

#lottie button:empty{
    display: none;
}

.flex-icons{
    display: flex;
    gap: 8px;
}
.icon-button{
    position: relative;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 4px;
}

.icon-button svg{
    padding: 4px;
}

.icon-button input{
    font-size: 1.5em;
    opacity: 0;
}

.icon-button svg{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    stroke: gray;
}
.icon-button:hover{
    background-color: #ffffff11;
}
.icon-button:active{
    opacity: 0.8;
}

.flex-icons:has(#closeButton:hover) ~ #lottie .focused, .flex-icons:has(#fullScreenButton:hover) ~ #lottie .focused{
  box-shadow: 0 0 0 2px #ffffff33 inset, 0 0 0 2px #ff0000;
}